<footer class="footer container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <span class="copyright">Copyright © 2013-2014</span>
      <ul class="about">
        <li><%= link_to "About", about_path, class: 'text' %></li>
        <li><%= link_to image_tag('fb.png', class: 'social-link'), 'http://facebook.com' %></li>
        <li><%= link_to image_tag('insta.png', class: 'social-link'), 'http://instagram.com' %></li>
        <li><%= link_to image_tag('pinterest.png', class: 'social-link'), 'http://instagram.com'%></li>
      </ul>
    </div>
  </div>
</footer>