<footer class="footer container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <span class="copyright hidden-xs">Copyright © 2014 Maya Kagan</span>
      <ul class="about">
        <li><%= link_to "About", about_path, class: 'text' %></li>
        <li><%= link_to image_tag('fb.png', class: 'social-link'), 'https://www.facebook.com/Mayka.Kagan', target: '_blank' %></li>
        <li><%= link_to image_tag('insta.png', class: 'social-link'), 'http://instagram.com/mayathekay/', target: '_blank' %></li>
        <li><%= link_to image_tag('pinterest.png', class: 'social-link'), 'http://www.pinterest.com/mayathekay/leather-summer/', target: '_blank' %></li>
      </ul>
    </div>
  </div>
</footer>