<div class="container-fluid">
  <div class="row">
    <div class="col-std">
      <% @projects.each do |project| %>
        <div class="project">
          <h1><%= project.title %></h1>
          <p><%= project.description %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>