<div class="container-fluid">
  <div class="row">
    <div class="col-std">
      <nav class="top-nav">
        <%= link_to image_tag('MKLogo.png', class: 'logo'), '/' %>
      </nav>
    </div>
    <div class="col-std">
      <div class="project-tiles">   
        <% @projects.each do |project| %>
        <div class="project-tile">
          <h2><%= link_to image_tag(project.thumbnail.url(:thumb)), project_path(project) %></h2>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>