<div class="container-fluid">
  <div class="row">
    <div class="col-std">
      <nav class="top-nav">
        <%= link_to image_tag('MKLogo.png', class: 'logo'), '/' %>
      </nav>
    </div>
    <div class="col-std">
    <div id="project-tiles">   
        <% @projects.each do |project| %>
        <div class="project-tile">
          <h2><%= link_to image_tag(project.thumbnail.url(:thumb)), project_path(project) %></h2>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  new Masonry( '#project-tiles', {
    itemSelector: '.project-tile',
    isOriginLeft: true,
    isFitWidth: true
  });
</script>