<div class="project-page">
  <div class="row hero">
    <%= image_tag project.hero.url %>
  </div>
  <div class="row project-text">
    <div class="box col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
      <h1 class="title"><%= project.title %></h1>
      <div class="description"><%= project.description %></div>
    </div>
  </div>
  <% project.project_details.each do |detail| %>
    <div class="row detail">
      <%= image_tag detail.image.url %>
    </div>
  <% end %>
</div>