<div class="container-fluid">
  <div class="row">
    <div class="col-std">
      <%= render 'projects/project', project: @project, next_project: @next_project, prev_project: @prev_project %>
    </div>
  </div>
</div>