// Place all the styles related to the admin/projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project {
	border-bottom: 1px solid lightgrey;
	padding: 3em 1em;

	h1, h2, h3, h4, h5, h6 {
		text-transform: uppercase;
		margin: 0;
	}

	.thumbnail {
		width: 100%;
	}
}

.project-form {
	.thumbnail {
		max-width: 10em;
	}

	.input-group {
		padding: 1em 0;
	}
}

.project-detail {
	padding: 0 0 2em 0;
	overflow: auto;
}