/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'common';
@import 'controls';

.col-std {
  @include make-xs-column(12);
}

.no-padding {
  padding: 0;
}

section {
  padding: 1em 0;
}

label {
  font-size: 18px;
  margin: .5em 0 .3em;
  text-transform: uppercase;
}

body {
  background-color: $color-bg;
  font-family: $font-copy;
  h1, h2, h3, h4, h5, h6, label {
    font-family: $font-header;
    text-transform: uppercase;
  }
}

.top-nav {
  text-align: center;
  padding: 2em 0;
  .logo {
    height: 10em;
  }

  .tagline {
    padding-top: 1em;
    font-size: 1.5em;
    font-weight: lighter;
    letter-spacing: .2em;
    font-family: $font-header;
  }
}

.footer {
  background-color: black;
  color: white;
  font-family: $font-header;
  .copyright {
    text-transform: uppercase;
    line-height: 4em;
  }

  ul.about {
    float: right;
    list-style-type: none;
    overflow: auto;
    margin: 0;
    li {
      text-transform: uppercase;
      line-height: 3.9em;
      float: left;
      &:not(:last-of-type) {
        padding-right: 1em;
      }
      .text {
        font-size: 1.3em;
        padding-right: 0.5em;
      }
    }
    a {
      color: white;
    }
    img.social-link {
      height: 1.5em;
    }
  }
}

.about-page {
  text-align: center;

  img.pic {
    width: 100%;
  }

  .about-text {
    .box {

      background-color: $color-bg;
      color: $color-fg;
      text-align: center; 
      padding: 2em 4em;
      
      @media(min-width: $screen-sm) {
        padding: 4em 10em;
      }

      @media(min-width: $screen-md) {
        margin-top: -20.5em;
      }
    }

    h1.title {
      @media(min-width: 0) {
        font-size: 3em;
      }
      @media(min-width: $screen-sm) {
        font-size: 5em;
      }
      text-transform: uppercase;
      font-weight: normal;
    }

    .description {
      @media(min-width: 0) {
        font-size: .9em;
      }
      @media(min-width: $screen-sm) {
        font-size: 1.1em;
      }
      text-align: justify;
      line-height: 1.6em;
      font-weight: 300;
   }
  }

}

#project-tiles {
  margin: 0 auto;
  visibility: hidden;

  .project-tile {
    padding: 2em;
    img {
      @media(min-width: 0px) {
        width: 22em;
      }
      @media(min-width: $screen-sm) {
        width: 18em;
      }
      @media(min-width: $screen-md) {
        width: 19em;
      }
      @media(min-width: $screen-lg) {
        width: 22em;
      }
    }
  }
}