@import 'bootstrap';

.bookblock-img {
  width: 100%;
}

.bb-item {
  overflow: hidden;
  box-shadow:  0px 4px 10px 0 rgba(160, 160, 160, 0.93)
}

.bb-bookblock {

  $ratio: 500/800;

  @media(min-width: 0) {
    $w: 300px;
    width: $w;
    height: $ratio*$w;
  }
  @media(min-width: $screen-sm) {
    width: 600px;
    height: 375px;
  }
  @media(min-width: $screen-md) {
    width: 800px;
    height: 500px;
  }
}

