@import 'bootstrap';

.bookblock-img {
  width: 100%;
}

.bb-item {
  overflow: hidden;
}

.bb-bookblock {

  @media(min-width: 0) {
    width: 358px;
    height: 211px;
  }
  @media(min-width: $screen-sm) {
    width: 600px;
    height: 354px;
  }
  @media(min-width: $screen-md) {
    width: 800px;
    height: 472px;
  }
}

