input.form-control {
  border-radius: 0;
  height: 5rem;
  box-shadow: none;
  border: 1px solid lightgray;
}

textarea.form-control {
  border: 1px solid lightgray;
  box-shadow: none;
}

.thumbnail {
  border-radius: 0;
}

*:focus {
  outline: 0 !important;
}

.btn {
  border-radius: 0;
}

.btn-default {
  color: grey;
}

.input-group {
  width: 100%;
}