// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-nav {
  text-align: center;
  padding: 2em 0;
  .logo {
    height: 10em;
  }
}

#project-tiles {
  margin: 0 auto;
  .project-tile {
    padding: 1em;
    img {
      width: 20vw;
    }
  }
}