// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';

.top-nav {
  text-align: center;
  padding: 2em 0;
  .logo {
    height: 10em;
  }
}

#project-tiles {
  margin: 0 auto;
  visibility: hidden;
  .project-tile {
    padding: 2em;
    img {
      @media(min-width: 0px) {
        width: 20em;
      }
      @media(min-width: $screen-sm) {
        width: 18em;
      }
      @media(min-width: $screen-md) {
        width: 20em;
      }
      @media(min-width: $screen-lg) {
        width: 22em;
      }
    }
  }
}