// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'bootstrap';
@import 'common';

.top-nav {
  text-align: center;
  padding: 2em 0;
  .logo {
    height: 10em;
  }
}

.footer {
  background-color: black;
  color: white;
  font-family: $font-header;
  .copyright {
    text-transform: uppercase;
    line-height: 4em;
  }

  ul.about {
    float: right;
    list-style-type: none;
    overflow: auto;
    margin: 0;
    li {
      text-transform: uppercase;
      line-height: 3.9em;
      float: left;
      &:not(:last-of-type) {
        padding-right: 1em;
      }
      .text {
        font-size: 1.3em;
        padding-right: 0.5em;
      }
    }
    a {
      color: white;
    }
    img.social-link {
      height: 1.5em;
    }
  }
}

.about-page {
  text-align: center;
  img.about {
    width: 100%;
  }

  .about-text {
    .box {

      background-color: $color-bg;
      color: $color-fg;
      text-align: center;

      @media(min-width: 0) {
        padding: 2em 4em;
      }
      
      @media(min-width: $screen-sm) {
        padding: 4em 10em;
      }

      @media(min-width: $screen-md) {
        margin-top: -20.5em;
      }
    }

    .title {
      @media(min-width: 0) {
        font-size: 3em;
      }
      @media(min-width: $screen-sm) {
        font-size: 5em;
      }
      text-transform: uppercase;
      font-weight: normal;
    }

    .description {
      @media(min-width: 0) {
        font-size: .9em;
      }
      @media(min-width: $screen-sm) {
        font-size: 1.1em;
      }
      text-align: justify;
      line-height: 1.6em;
      font-weight: 300;
    }
  }

}

#project-tiles {
  margin: 0 auto;
  visibility: hidden;
  .project-tile {
    padding: 2em;
    img {
      @media(min-width: 0px) {
        width: 22em;
      }
      @media(min-width: $screen-sm) {
        width: 18em;
      }
      @media(min-width: $screen-md) {
        width: 19em;
      }
      @media(min-width: $screen-lg) {
        width: 22em;
      }
    }
  }
}