@import 'common';
@import 'bootstrap';

.project-page {


	.hero {

		img {
			width: 100%;
		}

		.home {

			position: fixed;
			margin: 1em;
			background-color: white;
			opacity: .9;
			z-index: 100;
			top: 1em;
			left: 1em;
			padding: 1.7em 1.2em;

			img {
				width: 5em;
			}
		}

		.arrows {

			position: fixed;
			width: 100%;
			z-index: 100;

			top: 18vw; /* 20em; */
			
			@media(min-width: $screen-sm) {
				top: 19vw; /* 20em; */
			}

			@media(min-width: $screen-md) {
				top: 20vw; /* 20em; */
			}


			img {
				width: 1.5em;
			}
			.left {
				float: left;
			}
			.right {
				float: right;
			}
		}
	}

	.project-text {
		.box {

			background-color: $color-bg;
			color: $color-fg;
			text-align: center;

			@media(min-width: 0) {
				padding: 2em 4em 4em;
			}
			
			@media(min-width: $screen-sm) {
				padding: 4em 10em 7em;
			}

			@media(min-width: $screen-md) {
				margin-top: -7.5em;
			}

			.title {
				@media(min-width: 0) {
					font-size: 3em;
				}
				@media(min-width: $screen-sm) {
					font-size: 5em;
				}
				text-transform: uppercase;
				font-weight: normal;
			}

			.description {
				@media(min-width: 0) {
					font-size: .9em;
				}
				@media(min-width: $screen-sm) {
					font-size: 1.1em;
				}
				line-height: 1.6em;
				font-weight: 300;

				&.justified {
					text-align: justify;
				}

				&.centered {
					text-align: center;
				}
			}

		}
	}

	.details {
		$padding-large: 8em;
		$padding-medium: 5em;
		$padding-small: 3em;

		@mixin padding {
			@media(min-width: 0) {
				padding-top: $padding-small;
			}
			@media(min-width: $screen-sm) {
				padding-top: $padding-medium;
			}
			@media(min-width: $screen-md) {
				padding-top: $padding-large;
			}
		}

		.detail {
			text-align: center;
			&:not(:first-child) {
				@include padding;
			}
			
			.detail-img {
				max-width: 90%;
			}

			.description {
				@media(min-width: 0) {
					font-size: .9em;
					padding: 3em 3.2em 0;
				}
				@media(min-width: $screen-sm) {
					font-size: 1.1em;
					padding: 8em 8.2em 0;
				}
				text-align: justify;
				line-height: 1.6em;
				font-weight: 300;

				&.justified {
					text-align: justify;
				}

				&.centered {
					text-align: center;
				}
			}

			&.flipbook {
					background-color: white;
					padding: 5em 0;
					margin-top: 1em;
					width: 90%;
					margin: 8em auto;
				}
		}
		.bottom-padding {
			@include padding;
		}
	}
}