<div class="container-fluid about-page">
	<div class="row">
		<div class="home hidden-xs">
				<%= link_to image_tag('MKLogo.png'), root_path %>
			</div>
		<div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10">
			<%= image_tag 'about-maya.png', class: 'pic' %>

		</div>
	</div>
</div>
