<div class="container-fluid about-page">
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10">
      <%= render 'nav' %>
    </div>
    <div class="col-lg-offset-2 col-lg-8 col-md-offset-1 col-md-10">
      <%= image_tag 'maya.jpg', class: 'pic' %>
    </div>
  </div>
  <div class="row about-text">
    <div class="box col-md-offset-1 col-md-10 col-lg-offset-3 col-lg-6">
      <h1 class="title">About</h1>
      <p class="description">Maya Kagan is a digital designer based in Brooklyn, NY. She specializes in interactive design, art direction, branding, and retouching. Her design work has appeared on Vaunte, Creem Magazine, Girl+Hair, Susan van der Linde, and more. When she's not building out the glamorous front pages of Vaunte.com, Maya enjoys theater, incidental cardio, and a strong Scotch. Maya is available for freelance engagements and is always looking for collaborative projects.</p>
    </div>
  </div>
</div>
