<div class="row">
    <div id="bb-bookblock" class="bb-bookblock">
      <div class="bb-item">
        <img src="https://s3.amazonaws.com/triton-media-dev/1.png" class="my-img" />
      </div>
      <div class="bb-item">
        <img src="https://s3.amazonaws.com/triton-media-dev/2.png" class="my-img" />
      </div>
    </div>
</div>
<script>
  $(function() {
    var bb = $( '#bb-bookblock' );

    bb.bookblock({
      shadowSides: 0.3,
      shadowFlip: 0.3,
      circular: true
    });

    bb.click(function(){
      bb.bookblock('next');
    });


  });
</script>
<style>
  .my-img {
    height: 100%;
    width: 100%;
  }

  .bb-bookblock {
  }
</style>