<div class="container-fluid">
  <div class="row">
    <div class="col-std">
      <%= render 'nav' %>
    </div>
    <div class="col-std">
      <div id="project-tiles-container">
        <div id="project-tiles">   
          <% @projects.each do |project| %>
          <div class="project-tile">
            <%= link_to image_tag(project.thumbnail.url(:thumb)), project_path(project), class: 'image-link' %>
            <% if project.shadow? %>
              <%= image_tag 'shadow.png', class: 'shadow' %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var pics = $('#project-tiles img'),
  tiles = $('#project-tiles');

  imagesLoaded(pics, function() {
    new Masonry('#project-tiles', {
      itemSelector: '.project-tile',
      isOriginLeft: true,
      isFitWidth: true
    });
    tiles.css('visibility', 'visible');
  });
</script>